@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --dark: #1d1d23;
  --light: #e0e0e0;
  --teal: #2cffc0;
  --teal-light: #ccfff0;
  --magenta: #ff2c6b;
  --magenta-light: #ffccdb;
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

nav {
  background-color: var(--dark);
  color: var(--light);
}

nav > div > #name {
  color: var(--light);
}
